@import "../../../Sass/variables";
.d-card {
  background: $main !important;
  border-radius: 20px !important;
  color: #ffffff;
  padding: 10px 15px 0 15px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  img {
    width: 95px;
    align-self: flex-end;
  }
  h4 {
    font-size: 15px;
  }
  p {
    font-size: 13px;
    width: 100%;
  }
}