@import "../../../Sass/variables";

.clinic-column {
  height: 100%;
  padding: 10px;
  h4 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    color: $main;
  }
  p {
    font-size: 14px;
    font-weight: 300;
  }
}