@import "../../../Sass/mixins";
.fluid-page {
  height: 430px;
  background: #F0F6FB;
  width: 100%;
  margin-top: 50px;
  .container {
    height: 100%;
    .row {
      height: 100%;
      .col-md-6 {
        height: 100%;
        position: relative;
        &:nth-child(1) {
          @include flex();
          align-items: flex-start;
          flex-direction: column;
        }
        img {
          position: absolute;
          top: -40px;
          bottom: -40px;
        }
        h2 {
            font-size: 36px;
            font-weight: 700;
            margin-bottom: 20px;
        }
        p {
            font-size: 16px;
            font-weight: 400;
        }
      }
    }
  }
}
