.page {
  height: 500px;
  background: #ffffff;
  margin-top: 30px;
  .container {
    height: 100%;
    .row {
      height: 100%;
      align-items: center;
      .col-md-6 {
        h3 {
          color: #000000;
          span {
            display: block;
            font-weight: 800;
            margin-bottom: 15px;
            font-size: 30px;
          }
          font-size: 48px;
          margin-bottom: 10px;
        }
        p {
          font-size: 16px;
          font-weight: 400;
          line-height: 25px;
        }
      }
    }
  }
}