@import "../../../Sass/variables";
.blogContent {
  padding: 0 18px;
  img {
    width: 100%;
  }
  &__data {
    height: 35px;
    display: flex;
    align-items: center;
    padding: 5px 0;
    span {
      margin: 0 5px;
      position: relative;
      color: #999999;
      &:not(:last-child) {
        padding-right: 15px;
      }
      &:nth-child(1) {
        margin-left: 0;
        padding-right: 20px;
        color: $main;
      }
      &:last-child {
        margin-right: 0;
      }
      &:not(:last-child)::before {
        content: "";
        height: 10px;
        width: 1px;
        background: #999999;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &_icon {
      svg {
        color: $main;
      }
      p {
        color: #999999;
        font-weight: 400;
        font-size: 12px;
        display: inline;
      }
    }
    &_author {
      font-size: 12px;
      font-weight: 400;
    }
  }
  h4 {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
  }
  p {
    color: #666666;
    font-size: 14px;
  }
}
